
.navbar {
    height: 80px;
    background-color: rgba(0,0,0,.6);
    z-index: 0;
}



#spotifylogo {
    height: 40px; 
    width: 130px;
}

#navbarNav {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.navbar-nav > li > a{
    color: #ffffff;
}

.navbar-nav > li > a:hover{
    color: #1db954;
}



.carousel-item  {
  width:100%;
  height:660px;
  
}

#carouselheader {
    font-size: 80px;
    font-weight: 700;
    padding-bottom: 40px;
    
}

#carouselheader2 {
    font-size: 80px;
    font-weight: 700;
    padding-bottom: 40px;
    
}

#ccc {
    padding-bottom: 200px;
}

#ccc2 {
    padding-bottom: 100px;
}

#buttonlist3 {
    font-size: 14px;
    font-weight: 700;
    color: white;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 80px 18px;
    border-width: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    background-color: #1db954;
}

#buttonlist4 {
    font-size: 14px;
    font-weight: 700;
    color: white;
    border-color: white;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 80px 18px;
    border-width: 2px;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    background-color: transparent;
}




#sectionheader {
    font-size: 48px;
    font-weight: bold;
    color: #222326;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    padding-top: 10px;
   
}

#pheader {
    font-weight: bolder;
    margin-top: 24px;
    margin-bottom: 12px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
}

#whatsOn {
    height: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
}

#psection {
    font-size: 18px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 500;
}

#easysection {
  width:100%;
  height:594px;
  background:url(../img/Phone_UI_Background.png); 
  padding-top: 40px;
}


/*  Workshop Starts here */

#sectionheader2 {
    font-size: 48px;
    font-weight: bold;
    color: white;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    padding-top: 10px;
    padding-bottom: 30px;

    
   
}

#pheader2 {
    font-weight: bolder;
    margin-top: 24px;
    margin-bottom: 12px;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    color: white;
}

#psection2 {
    
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 500;
    color: white;
    font-size: 12px; 
    padding-top: 25px;
}


#devicelist {
    padding-top: 85px;
    padding-bottom: 115px;
}

#lineicon {
    padding-top: 30px;
}

#blacklist > li {
    color: black;
     font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 700;
    font-size: 14px;
}

#greenlist > li > a {
    color: #1db954;
     font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 700;
    font-size: 14px;
}

#greenlist > li > a:hover {
    color: #1ed760;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
}

.list-inline-item::after {
    top: 3px;
    right: -3px;
    content: "\2022";
    font-size: 16px;
    color: #d9dadc;
    padding-left: 11px;
   
}


.list-inline-item:last-child::after {
    top: 3px;
    right: -3px;
    content: " ";
    font-size: 16px;
    color: white;
    padding-left: 11px;
   
}

/* HERrrrrrrr */

#cardsection {
  width:100%;
  height:750px;
  background:url(../img/Spotify_Background.png); 
  padding-top: 40px;
}

.card {
    width: 375px; 
    height: 500px;
    border-radius: 8px;
}



.card-title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: .4px;
}

.card-subtitle {
    font-size: 32px;
    font-weight: 900;
}

#moneyafter {
    font-size: 16px;
    font-weight: 400;
}

#moneyunder {
    font-size: 12px;
    margin-top: -8px;
    border-bottom-color: gainsboro;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 5px;
}


#moneyunder > a {
    color: #1db954;
}

#moneyunder > a:hover{
    color: #1ed760;
    text-decoration: none;
    
}

#sublist {
    margin-top: -8px;
    border-bottom-color: gainsboro;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 25px;
    padding-top: 25px;
    font-weight: 500;
    margin-bottom: 25px;
}

.text-muted {
    opacity: .5;
}

#sublist li {
    list-style: none;
    padding-bottom: 9px;
    margin-left: -35px;
}

#sublist li:before {
    content: '✓';
    padding-right: 20px;
}

#buttonlist {
    font-size: 14px;
    font-weight: 700;
    color: white;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 117px 18px;
    border-width: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    background-color: #1db954;
}

#buttonlist2 {
    font-size: 14px;
    font-weight: 700;
    color: white;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 97px 18px;
    border-width: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    background-color: #1db954;
}


#footercontainer {
   background: black; 
   height: 500px;
}

#footercontent {
    
    padding-top: 70px;
}

#linkheader {
    padding-top: 10px;
    font-size: 13px;
    color: grey;
}

#footersublist {
    margin-top: -8px;
    font-size: 13px;
    color: white;
    padding-bottom: 25px;
    padding-top: 25px;
    font-weight: 500;
    margin-bottom: 25px;
}



#footersublist li {
    list-style: none;
    padding-bottom: 9px;
    margin-left: -35px;
}


#footersublist > li > a {
    color: white;
    text-decoration: none;
  
}

#footersublist > li > a:hover {
    color: #1ed760;
    text-decoration: none;
  
}


#sociallist > li > i:hover {
    color: #1ed760;
    font-size: 22px;
    text-decoration: none;
}

#bottomnav {
    padding-top: 0px;
    color: aliceblue;
}



.nav > a {
    color: #919496;
    font-size: 12px;
}

.nav > a:hover {
    color: #1ed760;
    font-size: 12px;
}

#usa > a {
    color: #919496;
    font-size: 12px;
    
}

#usa > a:hover {
   
     color: #1ed760;
}

#usaflag {
    height: 20x;
    width: 20px;
    
    
}

#usaflag {
    height: 20x;
    width: 20px;
    
}

#ab {
    font-size: 12px;
    color: #919496;
}

#sociallist {
    list-style: none;
}

#sociallist > li > i {
    color: white;
    font-size: 22px;
    border-style: solid;
    background: #222326;
    border-color: #222326;
    border-radius: 90%;
    padding: 10px;
  
}



#sociallist > li > i:hover {
    color: #1ed760;
    font-size: 22px;
    text-decoration: none;
}



#sociallist .list-inline-item::after {
    content: none;
   
}



